header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-height);
    background-image: url(../img/AquaHeader.jpg);
    background-repeat: no-repeat;
    background-color: var(--primary-color);
    z-index: 100;
}

.title {
    padding: 12px 12px 18px;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: normal;
    color: var(--white-color);
}
.control {
    margin: 24px 25px 12px;
    font-size: 1.2rem;
}

.logout_btn {
    color: var(--white-color);
    border-bottom: dashed 1px var(--white-color);
}

.sidebar {
    position: fixed;
    left: 0px;
    top: 60px;
    padding: 2px;
    bottom: 57px;
    height: 100%;
    width: 200px;
    
}

.sidebar_list {
    border-width: 0px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.sidebar_item {
    font-size: 1.2rem;
    background: url(../img/BG_Sidebar.jpg) center top repeat-x rgb(226, 240, 255);;
    border: 1px solid rgb(174, 202, 240);
    padding: 4px 4px 4px 8px;
    white-space: nowrap;
}

.main {
    margin-left: 200px;
    padding-top: var(--header-height);
}

.menu {
    margin-top: 2px;
}

.menu_list {

}
.menu_item {
    width: 86px;
    background: url(../img/BG_Sidebar.jpg) center top repeat-x rgb(226, 240, 255);
    border: 1px solid rgb(174, 202, 240);
    border-bottom: none;
    padding: 2px 4px 0px 8px;
    white-space: nowrap;
}

.menu_item--active {
    position: relative;
    background: var(--white-color) center top repeat-x rgb(226, 240, 255);
    border-top: 3px solid var(--secondary-color);
}

.menu_item--active::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    z-index: 1;
    background-color: var(--white-color);
    width: 86px;
    height: 3px;
}

.menu_link {
    font-size: 1.2rem;
    text-align: center;
    color: var(--text-color);
    padding: 1px 9px 6px 10px;
    display: block;
    height: 100%;
}

.menu_item--space {
    width: 3px;
    padding: 0;
    background: var(--white-color) center top repeat-x rgb(226, 240, 255);
    border: none;
}

.menu_item--space:first-child {
    width: 5px;
}

.content {
    padding: 11px;
    margin-bottom: 64px;
    border: 1px solid var(--primary-color);
}

.content_header {

}


.refresh_btn {
    padding: 6px 10px;
    font-size: 1.2rem;
    line-height: 100%;
    background: url(../img/BG_Sidebar.jpg) center top repeat-x rgb(226, 240, 255);
    border: 1px solid var(--primary-color);
    border-radius: 0;
}

.refresh_btn:hover {
    background: unset;
    background-color: var(--secondary-color);
    border: 1px solid #D6A886;
}

.content_body {
    
} 

.content_table {
    width: 100%;
}

.table_column {
    border:  1px solid var(--primary-color);
    font-size: 1.2rem;
}

.table_column--id {
    width: 20px;
}

.table_column--header {
    cursor: pointer;
}

.table_column--header._2 {
    width: 210px;
}

.table_column--filter {
    position: relative;
}

.table_column--header,
.table_column--filter {
    white-space: nowrap;
    padding: 5px;
    border: 1px Solid #A3C0E8;
    background: #E2F0FF url(../img/BG_Sidebar.jpg) repeat-x top;
    overflow: hidden;
    font-weight: normal;
    text-align: left;
}

.sort {
    position: relative;
}

.sort::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 1;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-top: 5px solid var(--text-color);
}

.sort--active::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 1;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-top: 5px solid var(--secondary-color) !important;
}

.finding-input {
    float: left;
    margin-right: 2px;
    width: 100%;
    height: 20px;
}

.filter_btn {
    height: 20px;
    cursor: pointer;
}

.finding-img {
    width: 13px;
    height: 13px;
    margin-top: 3px;
}

.table_column--value {
    padding: 4px 5px;
}

.table_footer {
    padding-top: 4px;
    padding-bottom: 4px;
    background: #C6DEFF url(../img/footer.gif) repeat-x;
    font-size: 1.2rem;
}

.row-active,
.detail-item--active {
    background-color: #FF9C3C;
    border: 1px solid #FF9C3C;
}

.detail-item--active {
    cursor: default;
}

.page_count {
    margin: 0;
    color: #749BCA;
    white-space: nowrap;
    padding: 3px 4px 2px;
}

.page_change {

}

.num_page-list {
    height: 18px;
    max-width: 200px;
    overflow: hidden;
}

.select_page {
    margin-left: 5px;
    padding: 0 10px;
    margin-top: 2px;
}

.page_num {
    margin-left: 4px;
    padding: 2px 3px 3px 3px;
    font-family: 'Times New Roman', Times, serif;
    color: #3F66A0;
    text-decoration: underline;
}

.page_num.page_num--active {
    text-decoration: none;
    background-color: #FFE7A2;
    border: 1px solid var(--secondary-color);
}

.btn-changepage {
    padding: 3px;
    margin-left: 4px;
    background: #E2F0FF url(../img/BG_Sidebar.jpg) repeat-x top;
}

footer {
    width: 100%;
    background-color: var(--primary-color);
}

.copy-right {
    font-size: 1.2rem;
    float: left;
    margin: 30px 15px 11px;
}

.footer-menu {
    float: right;
    padding-top: 7px;
    margin-bottom: 7px;
}

.footer-menu_list {
    float: right;
    padding-top: 7px;
    margin-top: 15px;
}

.footer-menu_item {
    margin-left: 5px;
    padding: 5px 10px;
    font-size: 1.2rem;
    line-height: 1.5;
    border-right: 1px solid #333;
}

.footer-menu_item:last-child {
    border-right: none;
}

/* login css */
.wrapper-pd {
    width: 100%;
    height: 100%;
    padding-top: var(--header-height);
}

.login-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 480px;
    transform: translate(-50%, -50%);
    border: 1px solid #337ab7;
    background-color: #fff;
    border-radius: 4px;
}

.login_header {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    padding: 5px 10px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--white-color);
}

.error_msg {
    margin: 0;
    margin-left: 10px;
}

.login_content {
    padding: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.login-input {
    height: 35px;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.select_input {
    padding-left: 9px;
}

.date_input {
    padding-left: 13px;
}

.login-input:active, .login-input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.icon-input-wrapper {
    display: block;
    height: 35px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-footer {
    padding: 5px 10px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.login-btn {
    color: #2C4D79;
    font: 12px Tahoma, Geneva, sans-serif;
    border: 1px solid #A3C0E8;
    background: #E2F0FF url(../img/footer.gif) repeat-x top;
    padding: 3px 11px 4px 11px;
    border-radius: 0;
}

.login-btn:hover {
    background: unset;
    background: #FEDC75 url(../img/login_btn.gif) repeat-x top;
    border: 1px solid #D6A886;
}

/* modal css */
.modal-wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    background-color: var(--white-color);
    border-radius: 6px;
}

.modal-header {
    padding: 10px;
}

.modal-title {
    font-size: 1.8rem;
    width: 100%;
}

.modal-close {
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    cursor: pointer;
    padding: 3px 6px 3px 3px;
}

.modal-info {
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 5px 10px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    color: var(--text-color);
    font-size: 1.2rem;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.show-info-btn {
    padding: 5px;
    cursor: pointer;
}

.modal-form {
    /* padding: 10px !important; */
    height: 0;
    font-size: 1.2rem;
    overflow: hidden;
    transition: .3s linear;
}

.modal-form-mess {
    padding: 10px !important;
    height: 100%;
    font-size: 1.2rem;
}

.modal-form.modal-form--show {
    padding: 10px !important;
    height: 142px;
}

@keyframes setHeightModal {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.transitioned {
    transition: .3s ease;
}

.modal-form label {
    min-width: 130px;
    font-weight: bold;
    padding: 7px 10px 0 10px;
}

.modal-form input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #eee;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.modal-form_first {

}

.modal-form_second {

}

.modal-form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}   

.form-group_header {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 5px 10px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border: 1px solid #ccc;
    border-bottom: 1px solid transparent;
}

.modal-form-group textarea {
    display: block;
    width: 100%;
    height: auto;
    resize: none;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.modal-form-group textarea:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.text-area_wrapper {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1.4rem;
}

.text-area_wrapper textarea {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: left;
}

.modal-table {
    padding: 10px;
    margin-bottom: 20px;
    overflow: overlay;
    height: 150px;
    resize: vertical;
}

.table_column_detail--header._3 {
    width: 200px;
}

.modal-btn {
    padding: 10px;
    border-top: 1px solid #ccc;
    text-align: right;
}

.modal-btn input{
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: var(--white-color);
    margin-left: 5px;
}

.modal-btn button:hover {
    color: var(--white-color);
    opacity: .8;
}